/* 여기에 스타일을 구현해 주세요 */
body {
  height: 100vh;
  align-content: center;
}
.gallery {
  width: 100%;
  div {
    width: fit-content;
    height: 100%;
    margin: 0 auto;
  }
}

.gallery .actress figure:first-child {
  float: left;
}
.gallery .actress figure:nth-of-type(2),
.gallery .actress figure:nth-of-type(3),
.gallery .actress figure:nth-of-type(4) {
  float: left;
}

.gallery .actor figure:nth-of-type(1),
.gallery .actor figure:nth-of-type(2),
.gallery .actor figure:nth-of-type(3),
.gallery .actor figure:nth-of-type(4) {
  float: left;
}

figure {
  position: relative;
  margin: 20px;
  img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
  }
}

.dot {
  position: absolute;
  top: 45px;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #dbdbdb;
  border-radius: 50%;
  &.active {
    background-color: #4cfe88;
  }
}
